.footer {
  background-color: #000 !important;
  width: 100%;
  max-height: 500px;
  position: relative;
  bottom: 0;
  background: url("../assets/footer_banner.png");
  background-size: 100% 100%;
  background-position: 43%;
  background-repeat: no-repeat;
  aspect-ratio: 1505/851;
  padding-top: 6%;
  color: white;
}

.footer-content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(58, 60, 64, 0.24) 0,
    rgba(98, 98, 103, 0.32) 0.01%,
    rgba(185, 187, 189, 0.2) 28.12%,
    rgba(101, 101, 104, 0) 100%,
    rgba(61, 61, 62, 0) 0
  );
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  pointer-events: none;
  z-index: 1;
}
.footer-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(58, 60, 64, 0.24) 0,
    rgba(98, 98, 103, 0.32) 0.01%,
    rgba(185, 187, 189, 0.2) 28.12%,
    rgba(101, 101, 104, 0) 100%,
    rgba(61, 61, 62, 0) 0
  );
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  pointer-events: none;
  z-index: 1;
}
.social-medias {
  /* margin-left: 20%; */
}
.social-medias-content-1 {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-items: center !important;
}
.social-medias-content-2 {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  align-items: center;
  margin-left: 10%;
}

.links-content {
  display: flex;
  flex-direction: column;
}
.links-content a {
  font-size: 30px;
  color: white;
  padding: 5px;
  font-family: cursive;
  background: -webkit-linear-gradient(rgb(236, 158, 14), #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-logo img {
  width: 35%;
}

.social-medias-title {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: -webkit-linear-gradient(rgb(236, 158, 14), #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-medias a {
  padding: 10px;
}
.footer-content-bottom {
  font-size: 30px;
  color: rgb(172, 189, 240);
  padding-top: 30px;
}
@media (max-width: 1000px) {
  .footer-content::before {
    /* top: 30%;
      left: 25%; */
    width: 200px;
    height: 200px;
  }
  .footer-content::after {
    top: 50%;
    width: 200px;
    height: 200px;
  }
  .footer {
    background-size: contain;
  }
}

@media (max-width: 960px) {
  .social-medias-content-1 {
    margin-left: 35%;
  }
  .social-medias-content-2 {
    margin-left: 40%;
  }
}

@media (max-width: 600px) {
  .social-medias-content-1 {
    margin-left: 20%;
  }
  .social-medias-content-2 {
    margin-left: 25%;
  }
}
@media (min-width: 1500px) {
  .social-medias-content-1 {
    margin-left: 20%;
  }
  .social-medias-content-2 {
    margin-left: 25%;
  }
}
